

#ve4973 .GraphDataStyleDefault {
  fill-color: #CCA937;
}
#ve1570 .GraphDataStyleDefault {
  marker-color: #BC955C;
  text-color: #BC955C;
  line-color: #BC955C;
}
#ve4914 .GraphDataStyleDefault {
  fill-color: #545B66;
}
#ve5079 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
.Report {
  background-color: #303235;
}
#ve1268 .GraphDataStyle1 {
  marker-color: #BC955C;
  text-color: #BC955C;
  line-color: #BC955C;
}
#ve1155 .styleForTitle_span8 {
  color: #BC955C;
  font-weight: bold;
}
#ve4922 .styleForTitle_span9 {
  color: #BC955C;
  font-weight: bold;
}
#ve1562 .GraphDataStyleDefault {
  marker-color: #BC955C;
  text-color: #BC955C;
  line-color: #BC955C;
}
#ve3771 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve4973 .TwoColorRamp1 {
  fill-gradient-start-color: #F9EDC6;
  fill-gradient-end-color: #CCA937;
}
#ve4982 .GraphDataStyleDefault {
  fill-color: #545B66;
}
#ve3377 .GraphDataStyle3 {
  marker-color: #E9ECEF;
  text-color: #E9ECEF;
  line-color: #E9ECEF;
}
#ve3377 .GraphDataStyle2 {
  marker-color: #BC955C;
  text-color: #BC955C;
  line-color: #BC955C;
}
#ve3377 .GraphDataStyle1 {
  marker-color: #545B66;
  text-color: #545B66;
  fill-color: #2C8AD6;
  line-color: #545B66;
}
#cd4418 .If {
  color: #B0B7C2;
}
#ve4904 .TwoColorRamp {
  fill-gradient-start-color: #000000;
  fill-gradient-end-color: #985B30;
}
#ve4533 .GraphDataStyle1 {
  fill-color: #E9ECEF;
}
#ve3300 .ComboBox {
  background-color: #545B66;
}
#ve1381 .Header {
  background-color: #545B66;
}
#ve3330 .GraphDataStyleDefault {
  fill-color: #B0B7C2;
}
#ve4878 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve4904 .styleForTitle_span12 {
  color: #BC955C;
  font-weight: bold;
}
#ve4973 .TipText {
  text-color: #FFFFFF;
}
#ve4922 .GraphDataStyleDefault {
  fill-color: #545B66;
}
#cd4531 .If {
  color: #B0B7C2;
}
#ve4181 .GraphDataStyleDefault {
  fill-color: #E9ECEF;
}
#ve4973 .LegendFill {
  fill-color: #C2C4C3;
}
#ve4973 .TwoColorRamp {
  fill-gradient-start-color: #F9EDC6;
  fill-gradient-end-color: #CCA937;
}
#cd1394 .If {
  background-color: #B14C51;
}
#ve4181 .styleForTitle_span2 {
  color: #BC955C;
  font-weight: bold;
}
#ve4982 .GraphDataStyle1 {
  fill-color: #545B66;
}
#ve1580 .TipText {
  text-color: #081B2D;
}
#ve1381 .Table {
  row-color: #E9ECEF;
  color: #000000;
  alt-row-color: #E9ECEF;
}
#ve1580 .styleForTitle_span5 {
  color: #BC955C;
}
#ve3307 .ComboBox {
  background-color: #545B66;
}
#ve5067 .paragraph1 {
  white-space: pre-line;
}
#ve4210 .GraphDataStyle1 {
  fill-color: #B0B7C2;
}
#ve4989 .ButtonBar {
  color: #FFFFFF;
}
#ve3377 .styleForTitle_span6 {
  color: #BC955C;
  font-weight: bold;
}
#cd4537 .If {
  color: #84414B;
}
#ve4210 .GraphDataStyle2 {
  fill-color: #84414B;
}
#ve4904 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve3377 .TipText {
  font-size: 6pt;
}
#ve1155 .GraphDataStyleDefault {
  fill-color: #B0B7C2;
}
#ve4210 .GraphDataStyleDefault {
  fill-color: #B0B7C2;
}
#ve4982 .TipText {
  text-color: #FFFFFF;
}
#ve5075 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve1570 .GraphDataStyle1 {
  marker-color: #BC955C;
  text-color: #BC955C;
  line-color: #BC955C;
}
#ve4533 .GraphDataStyleDefault {
  fill-color: #E9ECEF;
}
#ve5079 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve4878 .styleForTitle_span11 {
  color: #BC955C;
  font-weight: bold;
}
#ve1562 .GraphDataStyle1 {
  marker-color: #BC955C;
  text-color: #BC955C;
  line-color: #BC955C;
}
#ve4954 .span1 {
  color: #BC955C;
  font-size: 40px;
}
#ve4973 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
}
#ve1580 .GraphDataStyleDefault {
  marker-color: #B0B7C2;
  text-color: #B0B7C2;
  line-color: #B0B7C2;
}
#ve4954 .span2 {
  font-weight: bold;
}
#ve5152 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve4889 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve1155 .GridLines {
  line-color: #B0B7C2;
}
#ve5152 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve1155 .GraphDataStyle2 {
  fill-color: #BC955C;
}
#ve5075 .firstColumn {
  width: 200px;
}
#ve3367 .TipText {
  text-color: #B0B7C2;
}
#ve1155 .GraphDataStyle1 {
  fill-color: #B0B7C2;
}
#ve4846 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve5152 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve5079 .firstColumn {
  width: 200px;
}
#cd3259 .If {
  background-color: #2C8AD6;
}
#ve5075 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve4878 .ColumnHeader {
  background-color: #545B66;
}
#ve1069 .span2 {
  font-weight: bold;
}
#ve1069 .span1 {
  color: #BC955C;
  font-size: 60px;
}
#ve1302 .ComboBox {
  background-color: #545B66;
}
#ve4210 .styleForTitle_span9 {
  color: #BC955C;
  font-weight: bold;
}
#ve4533 .styleForTitle_span2 {
  color: #BC955C;
  font-weight: bold;
}
#ve4914 .LegendFill {
  frame-border: false;
}
#cd4557 .If {
  color: #84414B;
}
#ve3377 .GraphDataStyleDefault {
  marker-color: #545B66;
  text-color: #545B66;
  fill-color: #2C8AD6;
  line-color: #545B66;
}
#ve4889 .styleForTitle_span10 {
  color: #BC955C;
  font-weight: bold;
}
#ve1683 .styleForTitle_span7 {
  color: #BC955C;
  font-weight: bold;
}
#ve1268 .GraphDataStyleDefault {
  marker-color: #BC955C;
  text-color: #BC955C;
  line-color: #BC955C;
}
#ve3768 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1562 .styleForTitle_span4 {
  color: #BC955C;
}
#ve5152 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve4914 .GraphDataStyle2 {
  fill-color: #A01B21;
}
#ve4914 .GraphDataStyle1 {
  fill-color: #545B66;
}
#ve3330 .styleForTitle_span3 {
  color: #BC955C;
  font-weight: bold;
}
#ve4982 .styleForTitle_span2 {
  color: #FFFFFF;
  font-weight: bold;
}
#ve1268 .styleForTitle_span4 {
  color: #BC955C;
}
#ve4922 .GraphDataStyle1 {
  fill-color: #545B66;
}
#ve1683 .GraphDataStyleDefault {
  fill-color: #B0B7C2;
}
#ve3330 .GraphDataStyle1 {
  fill-color: #B0B7C2;
}
#ve5152 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve3330 .GraphDataStyle2 {
  fill-color: #BC955C;
}
#ve1570 .styleForTitle_span4 {
  color: #BC955C;
}
#ve5073 .paragraph1 {
  font-size: 13.5pt;
}
#ve1683 .GraphDataStyle3 {
  fill-color: #303235;
}
#ve1683 .GraphDataStyle1 {
  fill-color: #B0B7C2;
}
#ve1683 .GraphDataStyle2 {
  fill-color: #BC955C;
}
#ve1291 .ComboBox {
  background-color: #545B66;
}
#ve4914 .styleForTitle_span2 {
  color: #BC955C;
  font-weight: bold;
}
#ve4973 .GraphDataStyle1 {
  fill-color: #CCA937;
}
#ve3265 .span2 {
  font-weight: bold;
}
#ve1580 .GraphDataStyle1 {
  marker-color: #B0B7C2;
  text-color: #B0B7C2;
  line-color: #B0B7C2;
}
#ve5236 .Table {
  wrap-text: normal;
}
#ve1580 .GraphDataStyle2 {
  marker-color: #BC955C;
  text-color: #BC955C;
  fill-color: #BC955C;
  line-color: #BC955C;
}
#ve3265 .span1 {
  color: #BC955C;
  font-size: 60px;
}
#ve4181 .GraphDataStyle1 {
  fill-color: #E9ECEF;
}

			